<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">New board</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form #createBoardForm="ngForm" (submit)="create()">
        <div class="modal-body">
            <div class="form-group required">
              <label for="boardTitleInput">Title</label>
              <input type="text" required class="form-control" 
                name="boardTitleInput" id="boardTitleInput"
                [(ngModel)]="board.title"
                placeholder="The board title here...">
            </div>

            <div class="form-group">
              <label for="boardDescriptionInput">Description</label>
              <textarea type="text" rows="5" required class="form-control" 
                name="boardDescriptionInput" id="boardDescriptionInput"
                [(ngModel)]="board.description"
                placeholder="Write a description here..."></textarea> 
            </div>
        </div>
    
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success"
            [disabled]="!createBoardForm.form.valid">
            Save
          </button>
        </div>
    </form>
</ng-template>