@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.board-page {
    
    $card-spacer-x: 0.5rem;
    $card-bg: map-get($grays, "300");
    $card-cap-bg: $card-bg;
    $enable-shadows: true;
    $card-border-width: 0;
    
    @import "~bootstrap/scss/card";
    
    .board-body {
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
    
        .task-group {
            width: 272px;

            .btn-new-task {
                background-color: transparent;
                border: none;

                &:hover {
                    background-color: darken($color: $card-bg, $amount: 10);
                }
            }
        }

        .card-footer {
            padding: 0 $card-spacer-x 0.3rem $card-spacer-x;
        }
    }
    
    .nav {
        color: $white;
    }
    
    @import "~assets/scss/task.scss";
}

.task {
    @include box-shadow(0 1px 0 rgba(9,30,66,.25));
    background-color: $white;
    padding: 0.75rem;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: darken($color: $white, $amount: 1);

        .btn-edit-task {
            visibility: visible;
        }
    }

    .btn-edit-task {
        position: absolute;
        right: 6px;
        top: 2px;
        visibility: hidden;
        color: map-get($grays, "600");
    }
}