
<div class="board-page">
    <div class="row">
        <nav class="nav">
            <a class="nav-link"><h5>{{ board?.title }}</h5></a>
            <a class="nav-link">
                <fa-layers [fixedWidth]="true" [title]="board?.owner.username">
                    <fa-icon stackItemSize="2x" [icon]="iconUser"></fa-icon>
                    <fa-layers-text stackItemSize="1x" style="color: black" 
                        content="{{ board?.owner | userInitials }}" transform="right-10"></fa-layers-text>
                </fa-layers>
            </a>
            <a class="nav-link">
                <fa-layers [fixedWidth]="true" *ngFor="let member of board?.members"
                    [title]="member.username">
                    <fa-icon stackItemSize="2x" [icon]="iconUser"></fa-icon>
                    <fa-layers-text stackItemSize="1x" style="color: black" 
                        content="{{ member | userInitials }}" transform="right-10"></fa-layers-text>
                </fa-layers>
            </a>
        </nav>
    </div>
    
    <div class="board-body" cdkDropListGroup>
        <div class="task-group mr-2" *ngFor="let group of taskGroups">
            <div class="card">
                <div class="card-header">
                    <div class="task-group-title" (click)="toggleGroupEditMode(group)">
                        <input *ngIf="groupInEditMode.id == group.id; else groupTitle" type="text" 
                            name="taskGroupTitleInput" class="form-control"
                            [(ngModel)]="group.title"
                            (focusout)="updateGroup(group)">
                        <ng-template #groupTitle>{{ group.title }}</ng-template>
                    </div>

                    <div ngbDropdown class="options-dropdown">
                        <button class="btn btn-options" ngbDropdownToggle>
                            <fa-icon [icon]="iconOptions"></fa-icon>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="deleteGroup(group)">Delete</button>
                            <button ngbDropdownItem>Delete all tasks in this card</button>
                        </div>
                    </div>
                </div>
    
                <div class="card-body"
                    cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="group">
                    <div cdkDrag class="mb-2 task" [id]="'task-' + task.id" *ngFor="let task of group.tasks"
                        (cdkDropListDropped)="drop($event)" [cdkDragData]="task">
                        {{ task.title }}
    
                        <fa-icon class="btn-edit-task" [icon]="iconEdit" (click)="showEditTask(task)">
                        </fa-icon>
                    </div>

                    <textarea *ngIf="groupHasNewTask(group)" 
                        placeholder="Enter a title for this task..."
                        class="form-control new-task" [(ngModel)]="newTask.title">
                    </textarea>
                </div>

    
                <div class="card-footer">
                    <button *ngIf="!groupHasNewTask(group)"
                        class="btn btn-new-task btn-block btn-light text-muted" 
                        (click)="showNewTask(group)">
                        <fa-icon [icon]="iconNew"></fa-icon> Add task
                    </button>
    
                    <button *ngIf="groupHasNewTask(group)" 
                        class="btn btn-block btn-success" 
                        [disabled]="!isTaskValid()"
                        (click)="createTask()">
                        Save
                    </button>
                </div>
            </div>
        </div>

        <div class="task-group mr-2">
            <div class="card" *ngIf="newGroup">
                <div class="card-header">
                    <form>
                        <input type="text" placeholder="Enter title here..."
                            name="taskGroupTitleInput" autocomplete="off"
                            class="form-control mb-2" [(ngModel)]="newGroup.title">
                            <button class="btn btn-success" [disabled]="!isGroupValid()"
                                (click)="createGroup()">
                                Save
                            </button>
                        <button class="btn" (click)="cancelNewGroup()"><fa-icon [icon]="iconCancel"></fa-icon></button>
                    </form>

                </div>
            </div>

            <button *ngIf="!newGroup" class="btn btn-block btn-primary" (click)="showNewGroup()">
                <fa-icon [icon]="iconNew"></fa-icon> Add another list
            </button>
        </div>
    </div>
    
    <app-edit-task-modal #editTaskModal></app-edit-task-modal>
</div>
