
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";


$card-spacer-x: 0.5rem;
$card-bg: map-get($grays, "300");
$enable-shadows: true;

@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities";

.task {
    @include box-shadow(0 1px 0 rgba(9,30,66,.25));
    background-color: $white;
    padding: 0.75rem;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: darken($color: $white, $amount: 1);

        .btn-edit-task {
            visibility: visible;
        }
    }

    .btn-edit-task {
        position: absolute;
        right: 6px;
        top: 2px;
        visibility: hidden;
        color: map-get($grays, "600");
    }
}

textarea.new-task {
    overflow: hidden;
    overflow-wrap: break-word;
    height: 60px;
    resize: none;
    border: none;
    @include box-shadow(0 1px 0 rgba(9,30,66,.25));

    &:focus {
        border: inherit;
        height: auto;
        max-height: 162px;
        min-height: 54px;
        overflow-y: auto;
    }
}

.nav {
    color: $white;
}