
<div class="row">
    <nav class="nav">
        <a class="nav-link"><h5>{{ board?.title }}</h5></a>
        <a class="nav-link">{{ board?.owner.username }}</a>
    </nav>
</div>

<div class="row">
    <div class="col-3 task-group" *ngFor="let group of taskGroups">
        <div class="card">
            <div class="card-header">
                {{ group.title }}
            </div>

            <div class="card-body">
                <div class="task mb-2" [id]="'task-' + task.id" *ngFor="let task of group.tasks" >
                    {{ task.title }}

                    <fa-icon class="btn-edit-task" [icon]="iconEdit" (click)="showEditTask(task)">
                    </fa-icon>
                </div>

                <textarea *ngIf="groupHasNewTask(group)" 
                    placeholder="Enter a title for this task..."
                    class="form-control mb-4 new-task" [(ngModel)]="newTask.title">
                </textarea>

                <button *ngIf="!groupHasNewTask(group)"
                    class="btn btn-block btn-light" 
                    (click)="showNewTask(group)">
                    <fa-icon [icon]="iconNew"></fa-icon> Add task
                </button>

                <button *ngIf="groupHasNewTask(group)" 
                    class="btn btn-block btn-success" 
                    [disabled]="!isTaskValid()"
                    (click)="createTask()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-close-area" aria-label="Close" (click)="modal.dismiss('Cross click')"></div>

    <div class="modal-body">
        <textarea placeholder="Enter a title for this task..." class="form-control mb-2 new-task"></textarea>
    
        <div class="mt-2">
            <button type="submit" class="btn btn-success">
            Save
            </button>
        </div>
    </div>
</ng-template>
