
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/logo.png" width="40" height="40" alt="">
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of navItems" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="item.link">{{item.text}}</a>
            </li>
        </ul>

        <div ngbDropdown class="navbar-right" display="dynamic">
            <button class="btn profile-dropdown-toggle" id="userProfileDropdown" ngbDropdownToggle>
                {{user?.username}}
            </button>
            <div ngbDropdownMenu aria-labelledby="userProfileDropdown">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
    </div>
</nav>