<ng-template #editTaskModal let-modal>
    <div class="modal-close-area" aria-label="Close" (click)="modal.dismiss('Cross click')"></div>

    <div class="modal-body">
        <form #editTaskForm="ngForm" (submit)="update()">
            <textarea required name="taskTitleInput"
                placeholder="Enter a title for this task..." 
                class="form-control mb-2 new-task" [(ngModel)]="task.title"></textarea>
        
            <div class="mt-2">
                <button type="submit" 
                    [disabled]="editTaskForm.form.invalid"
                    (click)="update()" 
                    class="btn btn-success">Save</button>
            </div>
        </form>

        <ul class="edit-task-options">
            <li>
                <button class="btn btn-dark">
                    <fa-icon class="btn-edit-task mr-1" [icon]="iconDelete"></fa-icon> Delete
                </button>
            </li>

            <li>
                <button class="btn btn-dark">
                    <fa-icon class="btn-edit-task mr-1" [icon]="iconDuplicate"></fa-icon> Duplicate
                </button>
            </li>
        </ul>
    </div>

</ng-template>