<div class="container-fluid d-flex h-100">
  <div class="row">
    <div class="col-lg-7 col-sm-6 d-flex login-welcome-container">
      <div class="jumbotron justify-content-center align-self-center">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  
    <div class="col-lg-5 col-sm-6 d-flex">
      <div class="m-auto align-self-center">
        <h1>Sign In</h1>
    
        <form class="form">
          <div class="form-group">
            <label for="emailOrUsernameInput">Email or username</label>
            <input type="text" class="form-control" id="emailOrUsernameInput" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
            <label class="form-check-label" for="rememberMeCheckbox">Remember me</label>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>