/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";


html, body
{
    height: 100%;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}